.BalanceContainer {
  background-color: #2e3536a7;
  color: #f8feff;
  text-align: left;
  max-height: 200px;
  width: 280px;
  height: 140px;
  border-radius: 10px;
  font-size: 23.5px;
  font-weight: 600;
  text-overflow: ellipsis;
  padding-left: 20px;
  margin: 0 10px 0 10px;
}

.BalanceContainer h2 {
  
  display: inline-block;

  text-overflow: ellipsis;
}

.BalanceContainer div h2 {
  display: block;
  margin: 0;
}

.BalanceContainer h3{
  display: inline-block;
  margin-top: 15px;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}
