body {
  margin: 0;
  font-family: 'Cormorant Infant', serif; /* Setting font family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d2e7f3; /* Setting background color */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Center the image horizontally */
}
